<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="PYTHONPATH" value="E:\jedolstory" />
        <add key="WSGI_HANDLER" value="jedol5_server.app" />
    </appSettings>
    <system.webServer>
        <handlers>
            <add name="jedolstory" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python311\python.exe|C:\Python311\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
         <fastCgi>
        <application fullPath="C:\Python311\python.exe"
                    arguments="|E:\jedolstory\jedol5_server.py"
                    monitorChangesTo="E:\jedolstory\jedol5_server.py"/>
        </fastCgi>
    </system.webServer>
</configuration>
